<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Lights</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Places</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Consumption</a>
        </li>
      </ul>
      <span class="btn btn-default navbar-right" onclick="alert('lok hpta'); event.stopPropagation();">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </span>
    </div>
  </nav>
</div>
