<app-header> </app-header>
<div class="container">
  <pre>{{currentUser | json}}</pre>
  <div class="row">
    <div class="col-5">
      <h3>Places</h3>
      <div class="list-group" id="list-tab" role="tablist">
        <!-- Creación dinámica de botones de places -->
        <div *ngFor="let pl of places">
          <a class="list-group-item list-group-item-action" id="{{pl.id}}{{pl.name}}" data-toggle="list" href="#list-home" role="tab" aria-controls="home" (click)="getLightsData(pl.id)">
            {{pl.name}}
            <span class="pull-right">
              <a class="btn btn-xs btn-default" data-toggle="collapse" [attr.data-target]="'#co' + pl.id" data-parent="#list-tab">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </a>
              <span class="pull-right">
                <span class="btn btn-xs btn-default" (click)="deletePlaceCom( pl.id );">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </span>
              </span>
            </span>
          </a>
          <div id="co{{pl.id}}" class="collapse">
            <div class="card card-body">
              <form>
                <div class="form-group-row">
                  <label for="PlaceName" class="col-md-2 col-form-name"> Name </label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" #placeN id="PlaceName{{pl.id}}" placeholder="{{pl.name}}" #newName>
                  </div>
                </div>
                <div class="form-group-row col-md-4 col-sm-offset-4">
                  <button (click)="updatePlacesData( placeN.value, pl.id, currentUser );" type="submit" class="btn btn-primary btn-sm" style="border-radius: 5px; text-size:" >Edit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapseAddP" aria-expanded="false" aria-controls="collapseExample">
        Add New Place
        <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
      </a>
      <div class="collapse" id="collapseAddP">
        <div class="card card-body">
          <form>
            <div class="form-group-row">
              <label for="PlaceNamekkk" class="col-md-2 col-form-name"> Name </label>
              <div class="col-md-10">
                <input type="text" class="form-control" #placeNom id="PlaceNameLOL" placeholder="Place Name">
              </div>
            </div>
            <div class="form-group-row col-md-4 col-sm-offset-4">
              <button (click)="createPlace( placeNom.value );" type="submit" class="btn btn-primary btn-sm" style="border-radius: 5px;" >Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-7">
      <h3>Lights</h3>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-homee" role="tabpanel" aria-labelledby="list-home-list">
          <div class="container">
            <div class="row">
              <div class="col-5">
                <div class="list-group" id="list-tab1" role="tablist">
                  <!-- Creación dinámica de botones de lights -->
                  <div *ngFor="let li of lights">
                    <a class="list-group-item list-group-item-action" id="{{li.id}}{{li.name}}" data-toggle="list" href="#list-home" role="tab" aria-controls="home" (click)="getLightLogs(li.id)">
                      {{ li.name }}
                      <span class="pull-right">
                        <span class="btn btn-xs btn-default" data-toggle="collapse" [attr.data-target]="'#co1' + li.id" data-parent="#list-tab1">
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </span>
                        <span class="pull-right">
                          <span class="btn btn-xs btn-default" (click)="deleteLightCom( li.id );">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                          </span>
                        </span>
                      </span>
                    </a>
                    <!-- test -->
                    <div id="co1{{li.id}}" class="collapse">
                      <div class="card card-body">
                        <form>
                          <div class="form-group-row">
                            <label for="LightName" class="col-md-2 col-form-name"> Name </label>
                            <div class="col-md-10">
                              <input type="text" class="form-control" #lightN id="LightName{{li.id}}" placeholder="{{li.name}}">
                            </div>
                          </div>
                          <div class="form-group-row col-md-4 col-sm-offset-4">
                            <button (click)="updateLightsData( lightN.value, li.id );" type="submit" class="btn btn-primary btn-sm" style="border-radius: 5px; text-size:" >Edit</button>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- fin test -->
                  </div>
                </div>
                <!-- inicio add new -->
                <!-- <div class="col-12 pull-left"> -->
                <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapseAddLi" aria-expanded="false" aria-controls="collapseExample">
                  Add New Light
                  <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
                </a>
                <div class="collapse" id="collapseAddLi">
                  <div class="card card-body">
                    <form>
                      <div class="form-group-row">
                        <label for="lightNamekkk" class="col-md-2 col-form-name"> Name </label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" #lightNom id="lightNameLOL" placeholder="Light Name">
                        </div>
                      </div>
                      <div class="form-group-row col-md-4 col-sm-offset-4">
                        <button (click)="createLight( lightNom.value );" type="submit" class="btn btn-primary btn-sm" style="border-radius: 5px;" >Create</button>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- </div> -->
                <!-- fin add new -->
              </div>

              <div class="col-7">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <div *ngIf="state; else on">
                      <img src="http://findicons.com/files/icons/1681/siena/32/bulb_yellow.png" alt="on">
                    </div>
                    <ng-template #on>
                      <img src="http://findicons.com/files/icons/1681/siena/32/bulb.png" alt="off">
                    </ng-template>

                    {{consumption}}

                  </div>
                  <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Dos
                    <span class="pull-left">
                      <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                    </span>
                  </div>
                  <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Tres
                    <span class="pull-left">
                      <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-6"> <pre> {{ places | json }} </pre> </div>
    <div class="col-6"> <pre> {{ lights | json }} </pre> </div>
    <div class="col-6"> <pre> {{ lightlogs[count] | json }} </pre> </div>
  </div>
</div>
