<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Lights</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>


<div class="container">

  <div class="col-sm-6">
    <h1>Lights</h1>
    <p>
      This project was developed for the course  <a href="https://sites.google.com/unal.edu.co/softwarearchitecture2017ii">Software Architecture</a> by students of computing science and engineering, all source code is available on the following github organization <a href="https://github.com/illuminationSA">Illumination.</a>
    </p>
  </div>

  <div class="col-sm-6">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#sign-in" data-toggle="tab" aria-expanded="true">Sign in</a></li>
      <li class=""><a href="#sign-up" data-toggle="tab" aria-expanded="false">Sign up</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="sign-in">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-10 control-label">Email</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" #lemail id="inputEmail3" placeholder="Email"
            required
            [(ngModel)]="inputEmail3.name" #inputEmail3="ngModel"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

            <div class="alert alert-danger" [hidden]="inputEmail3.valid || inputEmail3.untouched">
              <div  *ngIf="inputEmail3.errors && inputEmail3.errors.required">
                Email is required
              </div>
              <div  *ngIf="inputEmail3.errors && inputEmail3.errors.pattern">
                Email is invalid
              </div>
            </div>

          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-10 control-label">Password</label>
          <div class="col-sm-12">
            <input type="password" class="form-control" #lpassword id="inputPassword3" placeholder="Password"
            required
            [(ngModel)]="inputPassword3.name" #inputPassword3="ngModel">

            <div *ngIf="inputPassword3.invalid && (inputPassword3.dirty || inputPassword3.touched)"
              class="alert alert-danger">

              <div *ngIf="inputPassword3.errors.required">
                Password is required.
              </div>
            </div>

          </div>
        </div>
        <div></div>
        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-4">
            <a (click)="sendLoginData(lemail.value, lpassword.value);"   type="submit" class="btn btn-default">Log in</a>
            <button (click)="sendUserData();" type="submit" class="btn btn-default">get user</button>
            <pre>{{login | json}}</pre>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="sign-up">
        <div class="form-group">
          <label for="inputName" class="col-sm-10 control-label">Name</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" #fname id="inputName" placeholder="Name"
            required
            [(ngModel)]="inputName.name" #inputName="ngModel">

            <div class="alert alert-danger" [hidden]="inputName.valid || inputName.untouched">
              <div *ngIf="inputName.errors && inputName.errors.required">
                Name is required.
              </div>
            </div>

          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-sm-10 control-label">Email</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" #femail id="inputEmail" placeholder="Email"
            required
            [(ngModel)]="inputEmail.name" #inputEmail="ngModel"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

            <div class="alert alert-danger" [hidden]="inputEmail.valid || inputEmail.untouched">
              <div  *ngIf="inputEmail.errors && inputEmail.errors.required">
                Email is required
              </div>
              <div  *ngIf="inputEmail.errors && inputEmail.errors.pattern">
                Email is invalid
              </div>
            </div>






          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail2" class="col-sm-10 control-label">Confirm Email</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" id="inputEmail2" placeholder="Email"
            required
            [(ngModel)]="inputEmail2.name" #inputEmail2="ngModel"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

            <div class="alert alert-danger" [hidden]="inputEmail2.valid || inputEmail2.untouched">
              <div *ngIf="inputEmail2.errors && inputEmail2.errors.required">
                Confirmation Email is required.
              </div>
              <div  *ngIf="inputEmail2.errors && inputEmail2.errors.pattern">
                Confirmation Email is invalid
              </div>
              <div *ngIf="inputEmail2.name != inputEmail2.name">
                Emails don't match.
              </div>
            </div>

          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-sm-10 control-label">Password</label>
          <div class="col-sm-12">
            <input type="password" class="form-control" #fpassword id="inputPassword" placeholder="Password"
            required
            [(ngModel)]="inputPassword.name" #inputPassword="ngModel">

            <div *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)"
              class="alert alert-danger">

              <div *ngIf="inputPassword.errors.required">
                Password is required.
              </div>
            </div>

          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword2" class="col-sm-10 control-label">Confirm Password</label>
          <div class="col-sm-12">
            <input type="password" class="form-control" id="inputPassword2" placeholder="Password"
            required
            [(ngModel)]="inputPassword2.name" #inputPassword2="ngModel">

            <div *ngIf="inputPassword2.invalid && (inputPassword2.dirty || inputPassword2.touched)"
              class="alert alert-danger">

              <div *ngIf="inputPassword2.errors.required">
                Confirmation Password is required.
              </div>
            </div>

          </div>
        </div>
        <div></div>
        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-4">
            <button (click)="sendData(fname.value, femail.value, fpassword.value)"  type="submit" class="btn btn-default">Register</button>
          </div>
        </div>
      </div>
    </div>




  </div>

</div>
